<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="clickclickboom.machinaX.blogX.cmsX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="umlungu.engineX.blogX.cmsX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="umlungu.engineX.cmsX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <clickclickboom.machinaX.blogX.cmsX.Properties.Settings>
            <setting name="CmsX_2_6_0_CustomerWS_PassportX_x0020_Customer_x0020_Services"
                serializeAs="String">
                <value>http://service.tabula.com/Passport.Customer.asmx</value>
            </setting>
            <setting name="CmsX_2_6_0_PassportAdminWS_PassportX_x0020_Admin_x0020_Services"
                serializeAs="String">
                <value>http://service.tabula.com/Passport.Admin.asmx</value>
            </setting>
            <setting name="CmsX_2_6_0_AccessWS_AccessServiceX" serializeAs="String">
                <value>http://services.ididthatad.com/Access.asmx</value>
            </setting>
            <setting name="CmsX_2_6_0_UserWS_UserServiceX" serializeAs="String">
                <value>http://services.ididthatad.com/User.asmx</value>
            </setting>
            <setting name="CmsX_2_6_0_LinkLogWS_LinkLogServiceX" serializeAs="String">
                <value>http://services.ididthatad.com/LinkLog.asmx</value>
            </setting>
            <setting name="CmsX_2_6_0_AdminXWS_adminX" serializeAs="String">
                <value>http://www.ididthatad.com/adminx.asmx</value>
            </setting>
            <setting name="CmsX_2_6_0_DisplayXMenusWS_DisplayXMenus" serializeAs="String">
                <value>http://www.loeries.co.za/DisplayXMenus.asmx</value>
            </setting>
            <setting name="CmsX_2_6_0_DisplayXSiteWS_SiteDisplayxServiceX"
                serializeAs="String">
                <value>http://www.ididthatad.com/DisplayXSite.asmx</value>
            </setting>
            <setting name="CmsX_2_6_0_ContentXBlogsWS_ContentXBlogs" serializeAs="String">
                <value>http://www.ididthatad.com/ContentXBlogs.asmx</value>
            </setting>
            <setting name="CmsX_2_6_0_ContentXSpacesWS_ContentXSpaces" serializeAs="String">
                <value>http://www.ididthatad.com/ContentXSpaces.asmx</value>
            </setting>
            <setting name="CmsX_2_6_0_ContentXMediaWS_ContentXMedia" serializeAs="String">
                <value>http://www.ididthatad.com/ContentXMedia.asmx</value>
            </setting>
            <setting name="CmsX_2_6_0_DisplayXLinksWS_DisplayXLinks" serializeAs="String">
                <value>http://www.loeries.co.za/DisplayXLinks.asmx</value>
            </setting>
            <setting name="CmsX_2_6_0_ContentXFilesWS_ContentXFiles" serializeAs="String">
                <value>http://www.ididthatad.com/ContentXFiles.asmx</value>
            </setting>
            <setting name="CmsX_2_6_0_PassportWS_PassportX_x0020_Passport_x0020_Services"
                serializeAs="String">
                <value>http://service.tabula.com/Passport.Passport.asmx</value>
            </setting>
        </clickclickboom.machinaX.blogX.cmsX.Properties.Settings>
        <umlungu.engineX.blogX.cmsX.Properties.Settings>
            <setting name="CmsX_2_6_0_CustomerWS_PassportX_x0020_Customer_x0020_Services" serializeAs="String">
                <value>http://passport.xxboom.co.za/Customer.asmx</value>
            </setting>
            <setting name="CmsX_2_6_0_PassportAdminWS_PassportX_x0020_Admin_x0020_Services" serializeAs="String">
                <value>http://passport.xxboom.co.za/Admin.asmx</value>
            </setting>
            <setting name="CmsX_2_6_0_AccessWS_AccessServiceX" serializeAs="String">
                <value>http://service.xxboom.co.za/Access.asmx</value>
            </setting>
            <setting name="CmsX_2_6_0_UserWS_UserServiceX" serializeAs="String">
                <value>http://service.xxboom.co.za/User.asmx</value>
            </setting>
            <setting name="CmsX_2_6_0_LinkLogWS_LinkLogServiceX" serializeAs="String">
                <value>http://service.xxboom.co.za/LinkLog.asmx</value>
            </setting>
            <setting name="CmsX_2_6_0_AdminXWS_adminX" serializeAs="String">
                <value>http://www.xxboom.co.za/adminx.asmx</value>
            </setting>
            <setting name="CmsX_2_6_0_DisplayXMenusWS_DisplayXMenus" serializeAs="String">
                <value>http://iburstneuvo.umlungu.com/DisplayXMenus.asmx</value>
            </setting>
            <setting name="CmsX_2_6_0_DisplayXSiteWS_SiteDisplayxServiceX" serializeAs="String">
                <value>http://iburstneuvo.umlungu.com/DisplayXSite.asmx</value>
            </setting>
            <setting name="CmsX_2_6_0_ContentXBlogsWS_ContentXBlogs" serializeAs="String">
                <value>http://iburstneuvo.umlungu.com/ContentXBlogs.asmx</value>
            </setting>
            <setting name="CmsX_2_6_0_ContentXSpacesWS_ContentXSpaces" serializeAs="String">
                <value>http://iburstneuvo.umlungu.com/ContentXSpaces.asmx</value>
            </setting>
            <setting name="CmsX_2_6_0_ContentXMediaWS_ContentXMedia" serializeAs="String">
                <value>http://iburstneuvo.umlungu.com/ContentXMedia.asmx</value>
            </setting>
            <setting name="CmsX_2_6_0_DisplayXLinksWS_DisplayXLinks" serializeAs="String">
                <value>http://iburstneuvo.umlungu.com/DisplayXLinks.asmx</value>
            </setting>
            <setting name="CmsX_2_6_0_ContentXFilesWS_ContentXFiles" serializeAs="String">
                <value>http://iburstneuvo.umlungu.com/ContentXFiles.asmx</value>
            </setting>
            <setting name="CmsX_2_6_0_PassportWS_PassportX_x0020_Passport_x0020_Services" serializeAs="String">
                <value>http://passport.ididthatad.com/Passport.asmx</value>
            </setting>
        </umlungu.engineX.blogX.cmsX.Properties.Settings>
        <umlungu.engineX.cmsX.Properties.Settings>
            <setting name="CmsX_2_6_0_CustomerWS_PassportX_x0020_Customer_x0020_Services" serializeAs="String">
                <value>http://passport.recon.umlungu.com/Customer.asmx</value>
            </setting>
            <setting name="CmsX_2_6_0_PassportAdminWS_PassportX_x0020_Admin_x0020_Services" serializeAs="String">
                <value>http://passport.recon.umlungu.com/Admin.asmx</value>
            </setting>
            <setting name="CmsX_2_6_0_AccessWS_AccessServiceX" serializeAs="String">
                <value>http://services.recon.umlungu.com/Access.asmx</value>
            </setting>
            <setting name="CmsX_2_6_0_UserWS_UserServiceX" serializeAs="String">
                <value>http://services.recon.umlungu.com/User.asmx</value>
            </setting>
            <setting name="CmsX_2_6_0_LinkLogWS_LinkLogServiceX" serializeAs="String">
                <value>http://services.recon.umlungu.com/LinkLog.asmx</value>
            </setting>
        </umlungu.engineX.cmsX.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
